$cover-bg-color: #ffffff;
$btn-bg-color: rgba(0, 0, 0, 0.2);
$btn-text-color: #282828;
$btn-mat-bg-color: #00529f;
$white-text-color: #ffffff;
$mat-toolbar-text-color: #83a9e6;
$error-message: red;
